//- Created by Sergey on 11-Oct-15.

script(src="/static/angular/angular.min.js")
script(src="/static/angular/angular-route.min.js")
script(src="/static/angular/angular-resource.min.js")
script(src="/static/src/app.js")
script(src="/static/src/room/roomService.js")
script(src="/static/src/room/roomTypeService.js")
script(src="/static/src/room/roomGuestService.js")
script(src="/static/src/room/bookingService.js")
script(src="/static/src/room/roomController.js")
script(src="/static/src/auth/authService.js")
script(src="/static/src/auth/accessTokenManager.js")
script(src="/static/src/auth/authController.js")
script(src="/static/src/management/room/managementRoomService.js")
script(src="/static/src/management/room/managementRoomController.js")
script(src="/static/src/management/booking/managementBookingService.js")
script(src="/static/src/management/booking/managementBookingController.js")
